.mainPage {
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(#615dad, #ffc8da);
  width: 400px;
}

.headerPicture {
  width: 350px;
}

.content {
  background-color: #283e50;
  color: white;
  width: 350px;
  height: 300px;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 0;
}

.links {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  width: 350px;
}

.rules {
  text-decoration: none;
  background-color: #1fcca4;
}

.rules:hover,
.rules:focus {
  background-color: #1cbb96;
}

.newGame {
  text-decoration: none;
  background-color: #0197f6;
}

.newGame:hover,
.newGame:focus {
  background-color: #0090e9;
}
