.mainPage {
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(#615dad, #ffc8da);
  width: 400px;
  align-items: center;
  padding: 50px 30px;
}

.headerPicture {
  width: 350px;
}

.content {
  background-color: #283e50;
  color: white;
  width: 350px;
  height: 300px;
  text-align: center;
  line-height: 25px;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 0;
  font-size: 3em;
  padding: 20px;
}

.links {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  width: 350px;
}

.rules {
  text-decoration: none;
  background-color: #1fcca4;
  height: 50px;
}

.rules:hover,
.rules:focus {
  background-color: #1cbb96;
}

.newGame {
  text-decoration: none;
  background-color: #0197f6;
  height: 50px;
}

.newGame:hover,
.newGame:focus {
  background-color: #0090e9;
}
